<p-dialog [(visible)]="display" [style]="{ width: '450px' }" header="{{'USERS.USER_DIALOG.USER_DETAILS' |translate}}" modal="modal" [responsive]="true"
    (onHide)="hideDialog()" class="p-fluid">
    <ng-template pTemplate="content">
        <div class="field">
            <label for="username">{{'USERS.USER_DIALOG.USER_NAME' | translate}}</label>
            <input id="username" pInputText [(ngModel)]="user.username" required autofocus [ngClass]="{
                    'ng-invalid ng-dirty': submitted && !user.username
                }" />
            <small class="ng-dirty ng-invalid" *ngIf="submitted && !user.username">{{'USERS.USER_DIALOG.USER_NAME_IS_REQUIRED' | translate}}</small>
        </div>
        <div class="field">
            <label for="email">{{'USERS.USER_DIALOG.EMAIL' | translate}}</label>
            <input id="email" pInputText [(ngModel)]="user.email" required
                [ngClass]="{ 'ng-invalid ng-dirty': submitted && !user.email }" />
            <small class="ng-dirty ng-invalid" *ngIf="submitted && !user.email">{{'USERS.USER_DIALOG.EMAIL_IS_REQUIRED' | translate}}</small>
        </div>
        <!-- Only show the password field if it's a new user (no id) -->
        <div class="field" *ngIf="!user.id">
            <label for="password">{{'USERS.USER_DIALOG.PASSWORD' | translate}}</label>
            <p-password [(ngModel)]="user.password" type="password" required [ngClass]="{
                    'ng-invalid ng-dirty': submitted && !user.password
                }" id="password1" placeholder="Password" [toggleMask]="true" styleClass="mb-5"
                inputStyleClass="w-full p-3 md:w-30rem"></p-password>
            <small class="ng-dirty ng-invalid" *ngIf="submitted && !user.password">{{'USERS.USER_DIALOG.PASSWORD_IS_REQUIRED' | translate}}</small>
        </div>
        <div class="field">
            <label for="roles">{{'USERS.USER_DIALOG.ROLES' | translate}}</label>
            <p-multiSelect id="roles" [options]="roles" [(ngModel)]="selectedRoles"
                optionLabel="name" placeholder="Select Roles" appendTo="body"></p-multiSelect>
        </div>
    </ng-template>

    <ng-template pTemplate="footer">
        <button pButton pRipple label="{{'BUTTONS.CANCEL' | translate}}" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
        <button pButton pRipple label="{{'BUTTONS.SAVE' | translate}}" icon="pi pi-check" class="p-button-text" (click)="saveUser()"></button>
    </ng-template>
</p-dialog>