<div class="layout-topbar">
    <a class="layout-topbar-logo" routerLink="">
        <img src="assets/layout/images/{{layoutService.config().colorScheme === 'light' ? 'logo-dark' : 'logo-white'}}.svg" alt="logo">
        <span>AURA</span>
    </a>

    
    <button #menubutton class="p-link layout-menu-button layout-topbar-button" (click)="layoutService.onMenuToggle()">
        <i class="pi pi-bars"></i>
    </button>

    <button #topbarmenubutton class="p-link layout-topbar-menu-button layout-topbar-button" (click)="layoutService.showProfileSidebar()">
        <i class="pi pi-ellipsis-v"></i>
    </button>

    <div #topbarmenu class="layout-topbar-menu" [ngClass]="{'layout-topbar-menu-mobile-active': layoutService.state.profileSidebarVisible}">
        
        <p-dropdown 
        [options]="languages" [(ngModel)]="selectedLanguage"  (onChange)="changeLanguage($event)"
        optionLabel="name"
        placeholder="Select Language" class="w-full md:w-auto mr-3"></p-dropdown>

        <p-button [label]="authService?.userProfile?.username" icon="pi pi-user" severity="secondary" />

        
        <button pTooltip="{{'TOP_BAR.LOGOUT' | translate}}" tooltipPosition="bottom" class="p-link layout-topbar-button" (click)="onLogout()">
            <i class="pi pi-sign-out"></i>
            <span >Logout</span>
        </button>
    </div>
</div>